.avatar {
  composes: baseAvatar from 'sharedStyles/styles.css'
}

.replyContainer {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  margin: 7px;
  padding: 15px;
}

.cushion {
  padding: 5px 0;
}

.header {
  text-align: center;
  font-weight: 100;
  font-size: 50px;
  margin-top: 0;
}

.author {
  font-size: 20px;
}

.heading {
  font-weight: lighter;
  font-size: 40px;
  text-align: center;
}

.heading sup {
  font-size: 16px;
}
